.blog__item {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .blog__item {
    gap: 20px;
  }
}
@media screen and (max-width: 320px) {
  .blog__item {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .blog__item:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 320px) {
  .blog__item:nth-child(odd) {
    flex-direction: column-reverse;
  }
}
.blog__item--content {
  max-width: 450px;
  margin-top: 85px;
}
@media screen and (max-width: 768px) {
  .blog__item--content {
    max-width: 340px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 320px) {
  .blog__item--content {
    max-width: 340px;
    margin-top: 90px;
  }
}
.blog__item--content p {
  margin-top: 50px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .blog__item--content p.hiden_content {
    width: 440px;
    overflow: hidden;
    z-index: -1;
  }
}
@media screen and (max-width: 320px) {
  .blog__item--content p.hiden_content {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .blog__item--content p span {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .blog__item--content p span {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .blog__item--content p {
    margin-top: 40px;
  }
}
.blog__item--content a {
  position: relative;
  fill: #7B7B7B;
}
.blog__item--content a::after {
  content: url(../images/svg/arrow.svg);
  position: absolute;
  top: -20px;
  left: 12em;
  width: 24px;
  height: 12px;
}
@media screen and (max-width: 768px) {
  .blog__item--content a::after {
    left: 18em;
  }
}
@media screen and (max-width: 320px) {
  .blog__item--content a::after {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .blog__item--img img {
    width: 300px;
    height: 250px;
    margin-top: 20px;
  }
}

.blog__item + .blog__item {
  margin-top: 53px;
}
@media screen and (max-width: 768px) {
  .blog__item + .blog__item {
    margin-top: 50px;
  }
}
@media screen and (max-width: 320px) {
  .blog__item + .blog__item {
    margin-top: -40px;
  }
}

@media screen and (max-width: 320px) {
  .revers {
    flex-direction: column-reverse;
  }
}