footer {
  background-color: #F4F4F4;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media screen and (max-width: 768px) {
  footer {
    padding-top: 50px;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .contacts {
    display: block;
    text-align: center;
  }
}
.contacts .general {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .contacts .general {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 320px) {
  .contacts .general {
    margin-bottom: 60px;
  }
}
.contacts .general div + div {
  margin-top: 20px;
}
.contacts .general a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.56px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 20px;
  text-decoration: none;
}
@media screen and (max-width: 320px) {
  .contacts .general a {
    font-size: 18px;
    line-height: 29.88px;
  }
}
.contacts .general a:hover {
  color: rgba(0, 0, 0, 0.4156862745);
  cursor: pointer;
}
.contacts .social {
  margin-top: -20px;
}
@media screen and (max-width: 768px) {
  .contacts .social {
    margin-bottom: 37px;
  }
}
.contacts .social__links svg + svg {
  margin-left: 20px;
}
.contacts .social__links svg {
  width: 49px;
  height: 49px;
  fill: white;
  stroke: #565656;
}
.contacts .social__links svg:hover {
  fill: #565656;
  stroke: white;
  cursor: pointer;
}