@media screen and (max-width: 768px) {
  .latest_posts {
    margin-top: 70px;
  }
}
@media screen and (max-width: 320px) {
  .latest_posts {
    margin-top: 62px;
  }
}

.viewall {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
@media screen and (max-width: 320px) {
  .viewall {
    display: block;
    margin-bottom: 31px;
  }
}
.viewall__link {
  margin-top: 8px;
}
@media screen and (max-width: 320px) {
  .viewall__link {
    margin-top: -38px;
  }
}
.viewall__link a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.56px;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  padding-right: 12px;
}
.viewall__link a::after {
  content: url(../images/svg/arrow.svg);
}
.viewall__link a:hover {
  color: lightgrey;
}

.posts {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .posts {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .post {
    display: flex;
    gap: 20px;
  }
  .post:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 768px) and (max-width: 320px) {
  .post {
    display: block;
    margin-bottom: 48px;
  }
  .post:nth-child(2) {
    margin-bottom: 54px;
  }
}
.post img {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .post img {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .post img {
    width: 300px;
    height: 210px;
  }
}
@media screen and (max-width: 320px) {
  .post__content p {
    letter-spacing: 0.06em;
  }
}
.post__content--about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}