h1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 50px;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 30px;
    line-height: 50px;
  }
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  h2 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 320px) {
  h2 {
    text-align: center;
    margin-bottom: -40px;
  }
}

h3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 38.18px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 10px;
}
@media screen and (max-width: 320px) {
  h3 {
    letter-spacing: 0.07em;
  }
}

h4 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 46.48px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 42px;
}
@media screen and (max-width: 320px) {
  h4 {
    letter-spacing: 0.07em;
  }
}
@media screen and (max-width: 320px) {
  h4 {
    letter-spacing: 0.05em;
    margin-top: -2px;
  }
}

h5 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 36.52px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 15px;
}

.popular__content h5 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38.84px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .popular__content h5 {
    margin-top: -4px;
    letter-spacing: 0.05em;
    line-height: 36.52px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 320px) {
  .popular__content h5 {
    width: 290px;
    font-size: 22px;
    line-height: 36.52px;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
  }
}

h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.56px;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-bottom: 20px;
}
@media screen and (max-width: 320px) {
  h6 {
    margin-bottom: 25px;
  }
}

h7 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.92px;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-bottom: 20px;
}
@media screen and (max-width: 320px) {
  h7 {
    margin-top: -2px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26.56px;
  }
}

@media screen and (max-width: 320px) {
  .popular__content--about h7 {
    margin-bottom: 11px;
  }
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.56px;
  letter-spacing: 0.05em;
  color: #565656;
}
@media screen and (max-width: 320px) {
  p {
    letter-spacing: 0.05em;
  }
}

.the_most_popular p {
  letter-spacing: 0.055em;
}

.info p {
  font-size: 19px;
  line-height: 32px;
}
.info__block1 p {
  font-size: 25.5px;
  line-height: 38.18px;
  color: #000000;
}

footer p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.92px;
  letter-spacing: 0.1em;
  color: #000000;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer p {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  footer p {
    text-align: center;
    font-size: 16px;
    line-height: 26.56px;
  }
}
footer p:first-child {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer p:first-child {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 320px) {
  footer p:first-child {
    text-align: center;
    font-size: 32px;
    line-height: 42.34px;
  }
}